### On Windows (cmd)
### Run project in venv
# python -m venv .venv
# .venv\Scripts\activate.bat
# .venv\Scripts\python.exe -m pip install --upgrade pip
# .venv\Scripts\python.exe -m pip install --upgrade -r requirements.txt

# pip freeze > requirements.txt

### On MacOS
### Run project in venv
# python3 -m venv .venv
# source .venv/bin/activate
# pip3 install --upgrade pip
# pip3 install --upgrade -r requirements.txt

# pip3 freeze > requirements.txt


### Package
db-dtypes
fastapi
google-cloud-bigquery
google-cloud-bigquery-storage
kaggle
pandas
pydantic-settings
redis
uvicorn
